@charset "UTF-8";

/* GROUP TUITION - STUDENT STYLES */

a:visited {color:#880088;}

body.ou-wide .r2 { width: 100% }

body.ou-wide .r2 .ou-content {border-radius:0.5em;}

div.inview {padding:1.2em 2em;}


/* tables */

table {margin-bottom:30px;}

table a {
	color:#039;
	text-decoration:underline;
}

table img {max-width:none;}

table th {font-weight:bold;}

table th,
table td {padding:0.5em 1em;}

table tbody tr:nth-of-type(even) td {background-color:#f5f5f5;}



/**/



hr {
	border:none;
	border-top:1px solid #eee;
	padding:0;
	margin:30px 0;	
}


h3 {
	font-size:1.1em;
	font-weight:bold;
	color:black;	
}


/* breadcrumb */

ol.ou-breadcrumb,
ol.ou-breadcrumb li {
	margin:0;
	padding:0;
	list-style:none;	
}

ol.ou-breadcrumb {margin:20px 0 5px 0;}

ol.ou-breadcrumb li {
	display:inline;
	background-image: url(../img/menu-arrow-right.png);
    background-position: 0 .3em;
    background-repeat: no-repeat;
	padding-left:10px;
	margin-right:5px;
}

ol.ou-breadcrumb li:first-child {background-image:none;}
	
/**/




/* media queries */

@media screen and (max-width: 800px) {

/* make tables scrollable at smaller screen sizes */

table tbody tr:nth-of-type(even) td {background-color:transparent;}

div.table-wrap {
	overflow-x: scroll;
	background-image: 
		-webkit-linear-gradient(left, #ffffff, rgba(255, 255, 255, 0)), 
		-webkit-linear-gradient(right, #ffffff, rgba(255, 255, 255, 0)), 
		-webkit-linear-gradient(left, #c3c3c5, rgba(195, 195, 197, 0)), 
		-webkit-linear-gradient(right, #c3c3c5, rgba(195, 195, 197, 0));
	background-image: 
		linear-gradient(left, #ffffff, rgba(255, 255, 255, 0)), 
		linear-gradient(right, #ffffff, rgba(255, 255, 255, 0)), 
		linear-gradient(left, #c3c3c5, rgba(195, 195, 197, 0)), 
		linear-gradient(right, #c3c3c5, rgba(195, 195, 197, 0));
	background-position: 0 0, 100% 0, 0 0, 100% 0;
	background-repeat: no-repeat;
	background-size: 4em 100%, 4em 100%, 1em 100%, 1em 100%;
	background-attachment: local, local, scroll, scroll;
}

} /* end media query */



@media screen and (max-width: 400px) {
	

} /* end media query */




@media print {

body {
	color: #000;
	background: #fff;
}

h1 {color:#000;}


} /* end media query */



