@charset "UTF-8";

/* GROUP TUITION - STUDENT STYLES */

a:visited {color:#880088;}

body.ou-wide .r2 { width: 100% }

body.ou-wide .r2 .ou-content {border-radius:0.5em;}

div.inview {padding:1.5em 2em;}


/* tables */

table {margin-bottom:30px;}

table a {
	color:#039;
	text-decoration:underline;
}

table img {max-width:none;}

table th {font-weight:bold;}

table th,
table td {padding:0.5em 1em;}

table tr:nth-of-type(even) td,
table tr:nth-of-type(even) th {background-color:#f5f5f5;}

table.qual-progress {margin-bottom:20px;}

table.qual-progress tr:nth-of-type(even) td {background-color:transparent;}

table.qual-progress tr td {
	text-align:center;
	color:#888;
	padding:6px;
	border-right:1px solid #ddd;
}

table.qual-progress tr td:last-child {border-right:none;}

table.qual-progress tr {border-bottom:none;}

table.qual-progress div.progress-bar {
	display:inline-block;
	height:6px;
	width:100%;
	background-color: #ddd;
	float:left;
}

table.qual-progress span.progress {
	display:inline-block;
	height:6px;
	background-color: #00CC33;
	float:left;
	text-indent:-5000em;	
}

table.two-cols tr td {width:50%;}


/**/

/* boxes */


.r3 .box {
	border:1px solid #ddd;
	border-radius:5px;
	margin:0 0 20px 20px;
	padding:20px;	
}

.r3 .box:first-of-type {margin-top:1em;}

.r3 .box h2 {
	margin-top:0;
	padding:9px 12px 8px 12px;
	background:#eee;
	border-radius:3px;
	color:#000;
}

.r3 .box ul,
.r3 .box ul li {
	padding:0; 
	margin:15px 0 0 0;
	list-style:none;
}

.r3 .box ul li {margin:0 0 5px 0;}

.r3 .box ul li a {text-decoration:none;}

.r3 .box-questions h2 {
	background:#8A3288;
	color:#fff;
}

.r3 .box-questions ul li {
	background-image:url(../img/menu-arrow-right.png);
	background-position:0 .4em;
	background-repeat:no-repeat;
	padding:0 0 0 10px;
}

.r3 .box-downloads h2 {
	background:#539D3C;
	color:#fff;
}

.r3 .box-downloads ul li {
	background-image:url(../img/pdf.gif);
	background-position:0 .2em;
	background-repeat:no-repeat;
	padding:0 0 0 22px;
}

p.box-link {
	padding:10px 0 0 0;
	margin:15px 0 0 0;	
	border-top:1px solid #e7eff7;
}

a.ou-action2 {
	background:#f5f5f5;
	padding:20px 50px 20px 30px;
	margin:0 0 20px 0;
	border-radius:0 5px 5px 0;	
	border-left:4px solid #ccc;
	text-decoration:none;
	display:block;
}

a.ou-action2 .ou-title {
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	color:#039;
	margin:0 0 4px 0;
}

a.ou-action2 .ou-desc {
	font-family:Arial, Helvetica, sans-serif;
	color:#555;
}

a.ou-action2:hover {border-left:4px solid #cc3300;}

a.ou-action2:hover .ou-title {color:#cc3300;}

.box-alert {
	background:#f5f5f5;
	padding:20px 20px 15px 20px;
	border-radius:5px;	
}

.box-qual {
	border:1px solid #a6d0ff;
	border-radius:5px;
	padding:0;
	margin:0 0 30px 0;	
}

.box-qual-inner {padding:15px 20px 0 20px;}

.box-qual h2 {
	background:#e7eff7;
	padding:15px 40px 15px 20px;
	margin:0;
	border-radius:5px 5px 0 0;
	position:relative;
}

.box-qual.collapsed h2 {border-radius:5px;}

.box-qual h2 a.show-hide {
	width:16px;
	height:16px;
	display:block;
	position:absolute;
	top:15px;
	right:15px;
	text-indent:-5000em;
	overflow:hidden;
	background-color:transparent;
}

.box-qual h2 a.plus,
.box-qual h2 a.minus {
	background-image:url(../img/switch-plus.png);
	background-position:top left;
	background-repeat:no-repeat;
}

.box-qual h2 a.minus {background-image:url(../img/switch-minus.png);}

.box-qual ul.qual-details {
	margin:0 0 20px 0;
	padding:0;
	list-style:none;	
}

.box-qual ul.qual-details li {
	display:inline;
	list-style:none;
	margin:0 10px 0 0;	
}

.box-qual ul.qual-details li strong {color:#b52a1e;}

/**/

/* show/hide definition list */

dl.show-hide {margin:0 0 20px 0;}

dl.show-hide dt {
	font-weight:bold;
	color:black;
	font-family:Arial, Helvetica, sans-serif;
	padding:5px 0 5px 25px;
	display:block;
}

dl.show-hide dt:hover {color:#cc3300;}

dl.show-hide dt.plus,
dl.show-hide dt.minus {
	background-image:url(../img/switch-plus.png);
	background-position:center left;
	background-repeat:no-repeat;
	cursor:pointer;
}

dl.show-hide dt.minus {background-image:url(../img/switch-minus.png);}

dl dd {margin-top:10px;}
	
/**/

/* buttons */

a.ou-btn {
	display:inline-block;
	background:#ffc23d;
	color:#0b55a8;
	border-radius:4px;
	padding:8px 15px;
	text-decoration:none;	
	font-weight:bold;
}

a.ou-btn:hover {
	background:#cc3300;
	color:white;	
}

/**/

/* paragraph styles */

p {margin:0 0 20px 0;}

p.pdf-download {
	background-image:url(../img/pdf.gif);
	background-position:0 .2em;
	background-repeat:no-repeat;
	padding:0 0 0 22px;
}

p.loan-text,
p.note {
	font-style:italic;
	color:#555;	
}

p.module-result {
	font-size:1.7em;
	font-weight:bold;
	color:#000;
	display:inline-block;
	border:1px solid #ddd;
	border-radius:3px;
	padding:10px 12px;
	margin:18px 0 18px 0;
}

/**/



/* headlines */

h2 {margin:0 0 20px 0;}

h2.style1 {
	background:#e7eff7;
	color:#000;
	border-radius:4px;
	padding:10px 10px;
	margin:0 0 20px 0;	
}

h3,
h4 {
	font-size:1.1em;
	font-weight:bold;
	color:black;
	margin:0 0 20px 0;	
}

h4 {font-size:1em;}

/**/


/* breadcrumb */

ol.ou-breadcrumb,
ol.ou-breadcrumb li {
	margin:0;
	padding:0;
	list-style:none;	
}

ol.ou-breadcrumb {margin:20px 0 5px 0;}

ol.ou-breadcrumb li {
	display:inline;
	background-image: url(../img/menu-arrow-right.png);
    background-position: 0 .3em;
    background-repeat: no-repeat;
	padding-left:10px;
	margin-right:5px;
}

ol.ou-breadcrumb li:first-child {background-image:none;}
	
/**/

/* misc */

a.bannerhelp {
	float:right;
	font-size:13px;
}

.ou-block {margin:0 0 30px 0;	}

.ou-profile .personal div,
.ou-profile .study div,
.ou-profile .settings div {
	padding-left:75px;
	background-image:url(../img/icon-personal.png);
	background-position:top left;
	background-repeat:no-repeat;	
}

.ou-profile .study div {background-image:url(../img/icon-study.png);}

.ou-profile .settings div {background-image:url(../img/icon-settings.png);}

.ou-profile h2 {
	font-size:1.2em;
	margin-bottom:15px;	
	padding-top:10px;
}

hr {
	border:none;
	border-top:1px solid #eee;
	padding:0;
	margin:30px 0;	
}

ul.list-style1 {
	padding:0;
	margin:0 0 20px 0;
}

ul.list-style1 li {
	display:inline;
	list-style:none;
	margin:0 10px 0 0;	
}

ul.list-style1 li strong {color:#b52a1e;}

ul.list-style2 {
	padding:0 0 0 0;
	margin:0 0 20px 0;
	list-style:none;
}

ul.list-style2 li {
	padding:0;
	margin:0 0 8px 0;
	list-style:none;
}

ul.list-style2 li a {
	text-decoration:none;
	color:#039;
}

ul.list-style2 li a:hover {	color:#cc3300;}




ul.pdf {
	padding:0;
	list-style:none;
}

ul.pdf li {
	background-image:url(../img/pdf.gif);
	background-position:0 .2em;
	background-repeat:no-repeat;
	padding:0 0 0 22px;
	margin:0 0 5px 0;
	list-style:none;
}



/**/


/* studenthome edits */

p.user {margin-top:1em;}

.panel-group h2 {margin:.5em 0;}

body.sh-home .r3 .box {margin:0 0 20px 0;}

/**/



/* media queries */

@media screen and (max-width: 800px) {

/* make tables scrollable at smaller screen sizes */

table tbody tr:nth-of-type(even) td {background-color:transparent;}

div.table-wrap {
	overflow-x: scroll;
	background-image: 
		-webkit-linear-gradient(left, #ffffff, rgba(255, 255, 255, 0)), 
		-webkit-linear-gradient(right, #ffffff, rgba(255, 255, 255, 0)), 
		-webkit-linear-gradient(left, #c3c3c5, rgba(195, 195, 197, 0)), 
		-webkit-linear-gradient(right, #c3c3c5, rgba(195, 195, 197, 0));
	background-image: 
		linear-gradient(left, #ffffff, rgba(255, 255, 255, 0)), 
		linear-gradient(right, #ffffff, rgba(255, 255, 255, 0)), 
		linear-gradient(left, #c3c3c5, rgba(195, 195, 197, 0)), 
		linear-gradient(right, #c3c3c5, rgba(195, 195, 197, 0));
	background-position: 0 0, 100% 0, 0 0, 100% 0;
	background-repeat: no-repeat;
	background-size: 4em 100%, 4em 100%, 1em 100%, 1em 100%;
	background-attachment: local, local, scroll, scroll;
}

} /* end media query */



@media screen and (max-width: 768px) {
	
.r2r3 .r2,
.r2r3 .r3 {
	width: 100%;
	float:left;
}
	
.r3 .box {margin: 0 0 20px 0;}

} /* end media query */


@media screen and (max-width: 640px) {
	
div.ou-c1of3,
div.ou-c2of3,
div.ou-c3of3 {
	float:left;
	width:100%;
	margin:0;
	padding:0;	
}

} /* end media query */


@media print {

body {
	color: #000;
	background: #fff;
}

h1 {color:#000;}


} /* end media query */



