@charset "UTF-8";

/*
OUICE Print Styles
-v3.0 . 2010.12.07
-gdc53
*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	border:0;/*vertical-align:baseline;*/
	margin:0;
	padding:0;
}
body {
	line-height:1.5;
	font-size:75%;
	color:#222;
	background:#fff;
	font-family:Frutiger, Univers, "Helvetica Neue", Helvetica, Calibri, Arial, sans-serif;
}
table {
	border-collapse:separate;
	border-spacing:0;
	margin-bottom:1.4em;
	width:100%;
}
caption, th, td {
	text-align:left;
	font-weight:400;
}
table, td, th {
	vertical-align:middle;
}
blockquote:before, blockquote:after, q:before, q:after {
	content:"";
}
blockquote, q {
	quotes:"" "";
}
a img {
	border:none;
}
h1, h2, h3, h4, h5, h6 {
	font-weight:400;
	color:#111;
}
h1 {
	font-size:3em;
	line-height:1;
	margin-bottom:0.5em;
	padding-top:0.1em;
}
h2 {
	font-size:2em;
	margin-bottom:0.75em;
	line-height:110%;
}
h3 {
	font-size:1.5em;
	line-height:1;
	margin-bottom:1em;
}
h4 {
	font-size:1.2em;
	line-height:1.25;
	margin-bottom:1.25em;
	height:1.25em;
}
h5 {
	font-size:1em;
	font-weight:700;
	margin-bottom:1.5em;
}
h6 {
	font-size:1em;
	font-weight:700;
}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
	margin:0;
}
a {
	text-decoration:none;
	color:#222;
}
blockquote {
	color:#666;
	font-style:italic;
	margin:1.5em;
}
sup, sub {
	line-height:0;
}
abbr, acronym {
	border-bottom:1px dotted #666;
}
address {
	font-style:italic;
	margin:0 0 1.5em;
}
pre, code {
	white-space:pre;
	margin:1.5em 0;
}
pre, code, tt {
	font:1em 'andale mono', 'lucida console', monospace;
	line-height:1.5;
}
li ul, li ol {
	margin:0 1.5em;
}
ul, ol {
	margin:0 1.5em 1.5em;
}
ul {
	list-style-type:disc;
}
ol {
	list-style-type:decimal;
}
dd {
	margin-left:1.5em;
}
th {
	font-weight:700;
	background:#eee;
}
th, td {
	padding:1em;
}
.ou-small {
	font-size:.8em;
	margin-bottom:1.875em;
	line-height:1.875em;
}
.ou-large {
	font-size:1.2em;
	line-height:2.5em;
	margin-bottom:1.25em;
}
.ou-highlight {
	background:#EDEDDB;
}
div.ou-highlight {
	margin:1em 0;
	padding:0.5em;
}
.ou-added {
	background:#060;
	color:#fff;
}
.ou-removed {
	background:#900;
	color:#fff;
}
.ou-first {
	margin-left:0;
	padding-left:0;
}
.ou-last {
	margin-right:0;
	padding-right:0;
}
.ou-top {
	margin-top:0;
	padding-top:0;
}
.ou-bottom {
	margin-bottom:0;
	padding-bottom:0;
}
div#ou-topbars {
	width:100%;
	height:auto;
	margin:0;
	padding:0;
}
div#ou-lhs2 a img {
	display:block;
	margin-right:1.5em;
}
p#ou-site-title {
	font-weight:400;
	font-size:1.4em;
}
.ou-go1 {
	float:left;
	margin:1em;
}
.ou-go2 {
	float:right;
	margin:1em;
}
div#ou-site-header {
	margin-bottom:1em;
	padding-bottom:1em;
}
div.ou-action, div.ou-remember, div.ou-tip, div.ou-warning, div.ou-download, div.ou-contact, div.ou-info, div.ou-steps, div.ou-example, div.ou-keypoints {
	border:1px solid #666;
	margin:1em 0;
	padding:1em;
}
p, dl {
	margin:0 0 1.5em;
}
a:focus, a:hover, .ou-loud {
	color:#000;
}
strong, dfn, dl dt {
	font-weight:700;
}
em, dfn, tfoot {
	font-style:italic;
}
del, .ou-quiet, p#ou-site-description {
	color:#666;
}
tr.ou-even td, caption {
	background:#eee;
}
.ou-hide, div#ou-lhs1, a#ou-skip5, div#ou-rhs, div#ou-row5, div#ou-footerf, div#ou-ia-nav, ul.ou-sections, ul.ou-sections, ol.ou-ancestors, dl.ou-toc, a.ou-to-top, a.ou-parent, ul.ou-siblings, dl.ou-parent-siblings, div.ou-paged, dl.ou-categories, dl.ou-tags, dl.ou-related, dl.ou-children, ul.ou-children, ul.ou-utilities {
	display:none;
}
div#ou-lhs2 a, p#ou-site-title, p#ou-site-description {
	margin:0;
	padding:0;
}
div#ou-org-header, #ou-org-footer, ul.ou-sections, .ou-context-nav, .ou-full-nav {
	display:none;
}

ol.ou-code {margin:1em 0; padding:0; font-family:"Courier New", Courier, monospace;}
ol.ou-code li {list-style-type:none;}