@charset "utf-8";
/* Cookie Banner */

/* Reset all styles in .cookieBanner */
.cookieBanner,
.cookieBannerWrap,
.cookieBanner p,
.cookieBanner ul,
.cookieBanner ul li,
.cookieBanner a {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	background:none;
}

/* remove annoying horizontal scroll bar in IE 7 */
html
{
	overflow:auto;
	overflow-x: hidden;		
}
.cookieBanner:before, .cookieBanner:after, .cookieBannerWrap:before, .cookieBannerWrap:after
{
	display: table;
	line-height: 0;
	content: "";
}
.cookieBanner:after, .cookieBannerWrap:after
{
	clear: both;
}
.cookieBanner
{
	font-family: Tahoma,"Lucida Grande", Arial, Helvetica, sans-serif;
	line-height: 1.5em;
	font-size: small;
	color: #fff;
	margin: 0;
	border-bottom: 1px solid #000;
	background: #585858;
	zoom: 1;
}
.cookieBanner.wide {
	margin: 0 20px;
}
.cookieBannerWrap
{
	background: url(/includes/headers-footers/org-footer-bg.png) 0% 40% no-repeat;
}
.cookieBanner p, .cookieBanner ul
{
	display: block;
	margin: 0;
	padding: 1em;
}
.cookieBanner p
{
	width: 65%;
	*width: 63%;
	float: left;
	text-align: left;
}
.cookieBanner ul
{
	padding-left: 2em;
	*padding-left: 0;
	width: 35%;
	*width: 29%;
	text-align: center;
	float: right;
}
.cookieBanner p, .cookieBanner ul
{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.cookieBanner li
{
	display: block;
	list-style: none;
	text-align: center;
}
.cookieBanner a, .cookieBanner a:visited
{
	color: #fff;
	background: none;
	text-decoration: none;
	text-align: center;
}
.cookieBanner a:hover
{
	color: #fff;
	text-decoration: underline;
}
.cookieBanner a.continue
{
	text-decoration: none;
	color: #555;
	padding: .4em .5em;
	display: block;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	margin: 1em 0;
	background: #add0e1;
	color: #333;
}
.cookieBanner a.continue:hover
{
	background: #ebf4f8;
	color: #333;
}
/* end of Cookie Banner */

div#ou-topbar, div#ou-topbarn {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	margin:0 20px 8px 20px;
	background-color:#fff;
	color:#333;
	height:92px;
	font-size:8px;
	clear:both;
}

div#ou-topbarn { height:80px }

div#ou-topbarc {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	margin:0 6% 8px 6%;
	background-color:#fff;
	color:#333;
	height:110px;
	font-size:8px;
}

div#ou-topbarv {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	margin:0 0 8px 0;
	background-color:#fff;
	color:#333;
	height:110px;
	font-size:8px;
}

div#ou-topbars {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	margin:0 10px 3px 5px;
	background-color:#fff;
	color:#333;
	height:47px;
	font-size:8px;
}

div#ou-topbara {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	margin:0 10% 8px 10%;
	background-color:#fff;
	color:#333;
	height:110px;
	font-size:8px;
}

div#ou-topbar img, div#ou-topbarc img, div#ou-topbarv img, div#ou-topbars img {
	margin:0;
	padding:0px;
	border:none;
}

div#ou-lhs, div#ou-lhs2 {
	float:left;
}

div#ou-lhs a, div#ou-lhs2 a {
	margin:0;
	padding:0px;
}

div#ou-lhs img {
	margin-top:20px;
	border:none;
}

div#ou-lhs2 img {
	margin-top:5px;
}
	
div#ou-rhs {
	float:right;
}

div#ou-row1 {
	margin:22px 0 0 0;
	padding:0px;
	text-align:right;
}

div#ou-row1a {
	margin:8px 0 0 0;
	padding:0px;
	text-align:right;
}

div#ou-row2 {
	margin:8px 0 0 0;
	padding:2px;
	text-align:right;
}

div#ou-row3 {
	margin:9px 0 0 0;
	padding:0;
	text-align:right;
	white-space:nowrap;
}

div#ou-row3a {
	margin:8px 0 0 0;
	padding:0;
	text-align:right;
	white-space:nowrap;
}

div#ou-row3c {
	margin:0 0 6px 0;
	padding:0;
	text-align:right;
	white-space:nowrap;
}

#ou-row2 ul li a#ou-signout, #ou-row2 ul li a#ou-signin, #ou-row3b ul li a#ou-signout, #ou-row3b ul li a#ou-signin {
	padding-left:18px;
	background-image:url(key.gif);
	background-repeat:no-repeat;
}

div#ou-row1 ul, div#ou-row1a ul {
	margin:0;
	padding:0;
}

div#ou-row1 ul li, div#ou-row1a ul li {
	list-style-type:none;
	display:inline;
	margin:0 0 0 8px;
	padding:0;
	background-image:none;
}

div#ou-row1 ul li a, div#ou-row1a ul li a {
	text-decoration:none;
	border:1px solid #ccc;
	color:#333;
	padding:1px 5px;
	font-size: 10px;
}

div#ou-row1 ul li a:hover, div#ou-row1a ul li a:hover {
	background-color:#eee;
}

div#ouskip
{
	position: relative;
}

a[id*="ou-skip"]
{
	display:block;
	width:1px;
	height:1px;
	overflow:hidden;
	text-indent:-5000em;
}

a[id*="ou-skip"]:focus, a[id*="ou-skip"]:active
{
	width:auto;
	height:auto;
	display:inline-block;
	text-indent:0;
	position:absolute;
	top:1em;
	left:1em;
	z-index:1;
	background-color:#fff;
	padding:1em;
	margin:0;
	background-color:#eee;
	border:2px solid #000;
	color:#000;
	text-decoration:none;
}

div#ou-row2 ul {
	margin:0;
	padding:0;
	display:inline;
}

div#ou-row2 ul li {
	list-style-type:none;
	display:inline;
	margin:0 0 0 8px;
	padding:0;
	font-size:10px;
	background-image:none;
}

div#ou-row2 ul li a, div#ou-row2 ul li a:active, div#ou-row2 ul li a:visited {
	font-size:10px;
	color:#666;
	text-decoration: none;
}

div#ou-row2 ul li a:hover {
	color:#00f;
	text-decoration: underline;
}

div#ou-row3 a, div#ou-row3a a, div#ou-row3c a {
	margin:0 0 0 3px;
}

div#ou-row3 img, div#ou-row3a img, div#ou-row3c img {
	border:1px solid #ccc;
	margin:0;
}

div#ou-row3 img.ou-img1, div#ou-row3a img.ou-img1, div#ou-row3c img.ou-img1 {
	border: 1px solid #6666CC;
}

div#ou-footer {
	margin:30px 6% 0 0;
	font-size:10px;
	text-align:right;
	color:#666;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	height:58px;
}

div#ou-footerv {
	margin:30px 0 0 0;
	font-size:10px;
	text-align:right;
	color:#666;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	height:58px;
}

div#ou-footerf {
	margin:30px 20px 0 20px;
	font-size:10px;
	text-align:right;
	color:#666;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	height:58px;
}

div#ou-footerm {
	margin:30px 10% 0 0;
	font-size:10px;
	text-align:right;
	color:#666;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	height:58px;
}

div.ou-footrow {
	font-size:10px;
	color:#666;
}

div.ou-footrow ul {
	margin:0 0 4px 0;
	padding:0;
	font-size:10px;
}

div.ou-footrow ul li {
	list-style-type:none;
	display:inline;
	margin:0 0 0 8px;
	padding:0 0 0 8px;
	border-left:solid 1px #ccc;
	font-size:10px;
	color:#666;
	background-image:none;
}

div.ou-footrow ul li.ou-footleft {
	border-left:none;
}

div.ou-footrow a, div.ou-footrow a:visited {
	margin:0;
	padding:0;
	font-size:10px;
	color:#666;
	text-decoration:none;
	font-style:normal;
}

div.ou-footrow a:hover {
	text-decoration:underline;
	color:#00f;
}

div#ou-row3b {
	display:inline;
	margin:2px 8px 0 0;
	padding:0;
}

div#ou-row3b ul {
	margin:0 0 0 0;
	padding:0;
	display:inline;
}

div#ou-row3b ul li {
	list-style-type:none;
	display:inline;
	margin:0 0 0 8px;
	padding:0;
	font-size:10px;
	background-image:none;
}

div#ou-row3b ul li a, div#ou-row3b ul li a:active, div#ou-row3b ul li a:visited {
	font-size:10px;
	color:#666;
	text-decoration:none;
	margin:0;
	padding:0;
}

div#ou-row3b ul li a:hover {
	color:#00f;
	text-decoration: underline;
}

div#tsxcontent {
	margin:0;
	padding:0;
}

div#ou-row5 {
	margin:0;
	padding:0;
}

div#ou-row6 {
	margin:0;
	padding:0;
	clear:both;
}

a#ou-access, a:active#ou-access, a:visited#ou-access {
	font-size:120%;
	color:#666;
	text-decoration:none;
	font-size:10px;
}

a:hover#ou-access {
	color:#00f;
	text-decoration:underline;
}

a#ou-listen, a:active#ou-listen, a:visited#ou-listen {
	font-size:120%;
	color:#666;
	text-decoration:none;
	font-size:10px;
}

a:hover#ou-listen {
	color:#00f;
	text-decoration:underline;
}

div#ou-row3 img#ou-audiol, div#ou-row3a img#ou-audiol, div#ou-row3c img#ou-audiol {
	margin-right:3px;
	vertical-align:top;
	border:none;
}

div#ou-row3 img#ou-audior, div#ou-row3a img#ou-audior, div#ou-row3c img#ou-audior {
	margin-left:6px;
	margin-right:4px;
	vertical-align:top;
	border:none;
}

 /* May 09  */
 
div#ouheader {
	margin:0;
	padding:0;
	text-align:right;
	clear:both;
}

div#ouheader.wide { margin:0 20px; }

div#ouheader .hide { display:none; }

div#ouheader a {
	color:#333;
	text-decoration:none;
}

div#ouheader a:hover {
	color:#00f;
	text-decoration: underline;
}

div#ouheader img {
	margin:20px 0 12px 0;
	padding:0;
	border:none;
	float:left;
}

div#ouheader img#ounewlogo { margin-bottom:11px; }

div#ouheader ul {
	margin:0;
	padding:0;
}

div#ouheader ul#ouheader1 { padding-top:20px; }
div#ouheader ul#ouheader2 { padding-top:12px; }

div#ouheader ul li {
	list-style-type:none;
	display:inline;
	margin:0 0 0 10px;
	padding:0 0 0 10px;
	font-size:11px;
	color:#333;
	background-image:url(divide.gif);
	background-repeat:no-repeat;
	background-position:0 1px;
	font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;
	font-style:normal;
	line-height:120%;
}

div#ouheader ul li.first {
	background-image:none;
}

div#ouheader a.ou-key {
	padding-left:18px;
	background-image:url(key.gif);
	background-repeat:no-repeat;
}

/* Aug 09 */

div#ouheader form#ousrchform { display:inline; }

div#ouheader input#ousrch {
	width:120px;
	font-size:11px;
	font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;
	color:#333;
	margin:0 4px 0 0;
	padding:1px 2px;
	border:1px solid #c0c0c0;
	vertical-align:middle;
}

div#ouheader input#ousbmt {
	font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;
	font-size:11px;
	margin:0;
	padding:0;
	vertical-align:middle;
}

/* Sep 09 */

div#ouskip {
	margin:0;
	padding:0;
}

/* Oct 09 */

#fsvlemenu, #fsvlemenu2 {
	white-space:nowrap;
	margin:0 20px 0 20px;
	padding:0;
	font-size:xx-small;
	font-family:Verdana, Helvetica, Arial, sans-serif;
	min-width:716px;
	max-width:1280px;
}

#fsvlemenu {
	height:37px;
	background-image:url(/includes/img/iox-menu-bg.jpg);
	background-position:0 0;
	background-repeat:repeat-x;
}

#fsvlemenu2 { display:none; }

#fsvlemenu2 ul {
	margin:0;
	background-color:#fbf5ca;
	padding:0;
	list-style:none;
	border-left:1px solid #fff;
	border-right:1px solid #fff;
	border-top:1px solid #fff;
	position:absolute;
	visibility:hidden;
	z-index:100;
	font-size:130%;
	top:125px;
}

#fsvlemenu2 ul li {
	padding:0;
	margin:0;
	border-bottom:2px solid #fff;
	width:100%;
}

#fsvlemenu2 ul li a {
	padding:3px 4px 2px 4px;
	margin:0;
	color:#000;
	line-height:150%;
	display:block;
	text-decoration:none;
}

#fsvlemenu2 ul li a.active {
	color:#000;
}

#fsvlemenu2 ul li a.cancel {
	color:#666;
}

#fsvlemenu2 ul li a:hover {
	background-color:#b8dbff;
	color:#000;
}

a.fsvlem1, a.fsvlem2, a.fsvlem3, a.fsvlem4, a.fsvlem5 {
	display:block;
	height:27px;
	background-position:0 0;
	background-repeat:no-repeat;
	text-decoration:none;
	text-align:center;
	font-size:130%;
	color:#000;
	padding:10px 0 0 0;
	margin:0;
	float:left;
}

a:hover.fsvlem2, a:hover.fsvlem3, a:hover.fsvlem4, a:hover.fsvlem5 {
	text-decoration:none;
	color:#000;
}

a.fsvlem1, a:hover.fsvlem1 {
	background-image:url(/includes/img/iox-menu-sh.jpg);
	color:#fff;
	font-weight:bold;
	width:105px;
	text-decoration:none;
}

a.fsvlem2 {
	background-image:url(/includes/img/iox-menu-pr.jpg);
	width:77px;
}

a.fsvlem3 {
	background-image:url(/includes/img/iox-menu-cs.jpg);
	width:79px;
}

a.fsvlem4 {
	background-image:url(/includes/img/iox-menu-qu.jpg);
	width:107px;
}

a.fsvlem5 {
	background-image:url(/includes/img/iox-menu-fq.jpg);
	width:62px;
}

a:hover.fsvlem2 { background-image:url(/includes/img/iox-menu-pr2.jpg); }
a:hover.fsvlem3 { background-image:url(/includes/img/iox-menu-cs2.jpg); }
a:hover.fsvlem4 { background-image:url(/includes/img/iox-menu-qu2.jpg); }
a:hover.fsvlem5 { background-image:url(/includes/img/iox-menu-fq2.jpg); }

a.fsvles2 { background-image:url(/includes/img/iox-menu-pr2.jpg); }
a.fsvles3 { background-image:url(/includes/img/iox-menu-cs2.jpg); }
a.fsvles4 { background-image:url(/includes/img/iox-menu-qu2.jpg); }

#mbvlemenu2 {font-family:sans-serif;font-size:xx-small}
#mbvlemenu {margin:20px 4px 0 4px;padding:0;font-size:140%}
#mbvlemenu a {color:#000;text-decoration:none;background-color:#eee;padding:0 4px;line-height:150%}
#mbvlemenu a.sel {background-color:#000;color:#fff;}